

header{
    width: 100%;
}




.navbar{
    width: 85%;
    margin: 25px auto;
    display: flex;
    justify-content: center;
} 


.header{
    background-color: #3F3E60;
}

 
.artboard * { box-sizing: border-box; }

.artboard {
  overflow: hidden;  background-color: rgba(255,255,255,0.0);  width: 497px;  position: relative;  height: 656px;  transform: rotate(0deg);
}

.artboard .img4822 {
    background-color: rgba(255,255,255,0.0);  top: -25px;  height: 310px;  width: 174px;  position: absolute;  margin: 0;  left: 40px;  transform: rotate(0deg);
}

.artboard .img4823 {
    background-color: rgba(255,255,255,0.0);  top: 73px;  height: 310px;  width: 174px;  position: absolute;  margin: 0;  left: 229px;  transform: rotate(0deg);
}

.artboard .img4825 {
    background-color: rgba(255,255,255,0.0);  top: 399px;  height: 309px;  width: 174px;  position: absolute;  margin: 0;  left: 229px;  transform: rotate(0deg);
}

.artboard .img4824 {
    background-color: rgba(255,255,255,0.0);  top: 310px;  height: 310px;  width: 174px;  position: absolute;  margin: 0;  left: 40px;  transform: rotate(0deg);
}


.anima-component-wrapper,
.anima-component-wrapper * {
    pointer-events: none;
}

.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
    pointer-events: auto;
}

.anima-hidden,
.anima-hidden * {
    visibility: hidden;
    pointer-events: none;
}

.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
}

.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
    visibility: hidden !important;
}

.anima-listeners-active-click,
.anima-listeners-active-click * {
    cursor: pointer;
}

.anima-word-break {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
}